*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .topChartsContainer {
    display: flex;
    width: 100%;
  }
  
  .lineChartContainer,
  .doughnutChartContainer {
    padding: 10px;
    width: 30%;
  }
  .lineChartContainer{
    margin-top: 50px;
  }
  
  .barChartContainer {
    width: 100%;
    padding: 10px;
  }
  
  .topOfTop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 40px;
    background-color: rgb(15, 14, 14);
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
  }